# swaps, bytecode and miscellenea
*.DS_Store
*.sqlite3
*.swp
*.pc
*.pyc
*.pyo
**__pycache__/
**runs/
**.dumps/
*.vscode/
*.idea/

# testing file
main.py

# notetaking
todo.txt

# manuscripts and research material
/docs/manuscripts/*
/docs/notes/*
