/* SVG styling */
#camera {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#origin {
  fill: white;
  stroke: black;
  stroke-width: 0.5;
}


/* menu styling */
#header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
}

#toolBarLeft {
  position: fixed;
  background-color: white;
  top: 175px;
  left: 0px;
}

#menuLoad {
  position: fixed;
  background-color: white;
  left: 75px;
}

#toolBarBottom {
  position: fixed;
  background-color: white;
  left: 75px;
  bottom: 0px;
}


/* button styling */
.buttonMenu {
  background-color: white;
  border: none;
  cursor: pointer;
}

.buttonMenu:hover {
  border-radius: 25%;
  background-color: #e7e2e2d8;
}

.buttonConfig {
  display: block;
}

.buttonAnimation {
  display: inline;
}


/* slider styling */
.slider {
  -webkit-appearance: none;  /* override default CSS styles */
  appearance: none;
  opacity: 0.7; /* set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  }

.slider:hover {
  opacity: 1; /* fully shown on mouse-over */
  cursor: pointer;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    cursor: pointer; /* cursor on hover */
  }

.slider::-moz-range-thumb {
    cursor: pointer; /* cursor on hover */
  }


/* generic styling */
.hide {
  display: none;
}
