<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Pymoebots</title>
    <meta content=";text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <!-- use django static tag ton load js file and css file. -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>

  <body>
    <svg id="camera" preserveAspectRatio="xMinYMin slice">
      <g id="grid"></g>
      <g id="amoebots"></g>
      <g id="walls"></g>
      <circle id="origin" cx=0 cy=0 r=6></circle>
    </svg>

    <div id="header">
      <h1>Pymoebots</h1>
      <h3>Stochastic Algorithms Simulator for the Amoebot Model</h3>
      <hr>
      </br>
    </div>

    <div id="toolBarLeft">
      <!--Load Button-->
      <div id="menuLoad" class="hide">
        <h3>Load Run</h3>
        <input name="runSearch" id="runNameLoad" list="runList" placeholder="Search...">
        <datalist id="runList"></datalist>
        <button title="Get Run" id="loadRun">Load</button>
      </div>
      <button title="Load run" id="buttonOpenLoadMenu" class="buttonMenu buttonConfig" type="button">
        <img src="{% static "icons/add-file50px.png" %}" alt="Load Run"></button>

      <!--Edit Button-->
      <button title="Add Object" id="buttonStartEditMode" class="buttonMenu buttonConfig" onclick="" type="button">
        <img src="{% static "icons/pin-pad50px.png" %}" alt="Add Object"></button>

      <!--Save Button-->
      <div id="menuSave" class="hide">
        <h3>Save Run</h3>
        Name:<input name="runName" id="runNameSave" type="text" placeholder="Example: run-1000">
        </br>
        Algorithm:<input name="algorithmSearch" id="algorithmName" list="algorithmList"placeholder="Search..." >
        <datalist id="algorithmList">
          <option value="random_move">
          <option value="mzsolve">
        </datalist>
        </br>
        Rounds:<input name="rounds" id="rounds" min=1 value=500 type="number">
        <button id="saveRun">Save</button>
      </div>
      <button title="Save run" id="buttonOpenSaveMenu" class="buttonMenu buttonConfig" onclick="" type="button">
        <img src="{% static "icons/save50px.png" %}" alt="Save Algorithm"></button>
    </div>

    </br>

    <div id="toolBarBottom">
      <button title="Back" id="buttonBack" class="buttonMenu" type="button">
        <img src="{% static "icons/backward-button50px.png" %}" alt="Back"></button>

      <button title="Play" id="buttonPlay" class="buttonMenu" type="button">
        <img src="{% static "icons/play-button-circled50px.png" %}" alt="Play"></button>

      <button title="Pause" id="buttonPause" class="buttonMenu" type="button">
        <img src="{% static "icons/pause-button50px.png" %}" alt="Pause"></button>

      <button title="Forward" id="buttonStep" class="buttonMenu" type="button">
        <img src="{% static "icons/forward-button50px.png" %}" alt="forward"></button>

      <div class="slider">
        slower <input id="playback" type="range" min="0" max="99" value="50" step="1"> faster
      </div>
    </div>

    <!-- use django static tag ton load js file and css file. -->
    <script type="module" src="{% static 'js/base.viz-script.js' %}"></script>
  </body>
</html>
