<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Pymoebots</title>
    <meta content=";text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

  <body>
    
    <div id="header">
      <h1>Pymoebots: Stochastic Maze Solver</h1>
  </div>

    <hr>

    <nav>
        <strong>
            <button id="request" onclick="" type="button">step</button>
        </strong>
    </nav>

  </br>
    
    <svg id="camera">
      <rect fill="None" height=100% stroke-width=0.1% width=100% stroke="black"></rect>
      <g id="grid"></g>
      <g id="amoebots"></g>
      <circle cx=0 cy=0 fill="white" stroke="black" stroke-width=".5" id="origin" r="6"></circle>
    </svg>

    <script src="js/main.js">
    </script>
  </body>
</html>
